@{
    ViewData["Title"] = "Hunxa";
    var footer = "<b>This is Footer</b>";
    var names = new string[] { "John", "Mary", "Peter" };
    var currentTime = 13; 
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]Okxa</h3>

<p>Use this page to detail your site's privacy policy.</p>

<p>
@for(var i=0; i<@names.Length; i++){
    <span>MyVariable is @names[@i]</span> <br />
}
</p>

<p>
This is @if(@currentTime < 12){
    <span>morning</span>
    }else{
        <span>afternoon</span>
    }

</p>

@Html.Raw(footer)